/*
 * Font Name: Roboto
 * Source: https://github.com/googlefonts/roboto-3-classic
 * Author: Christian Robertson
 * Contributors: https://github.com/googlefonts/roboto-3-classic/graphs/contributors?all=1
 * License: SIL Open Font License 1.1
*/

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

:root {
  --color-red-400: oklch(69.712% 0.1934 27.203);
  --color-blue-800: oklch(28.361% 0.04967 277.905);
  --color-white: oklch(100% 0.00011 271.152);

  --font-family-roboto: "Roboto", sans-serif;

  --font-size-40: calc(40 / 16 * 1rem);
  --font-size-16: calc(16 / 16 * 1rem);
  --font-size-12: calc(12 / 16 * 1rem);

  --font-weight-bold: 700;
  --font-weight-regular: 400;

  --line-height-150pc: 1.5;
  --line-height-100pc: 1;

  --letter-spacing-1pc: calc(1 * 0.01em);

  --spacing-40: calc(40 / 16 * 1rem);
  --spacing-30: calc(30 / 16 * 1rem);
  --spacing-24: calc(24 / 16 * 1rem);
  --spacing-16: calc(16 / 16 * 1rem);
  --spacing-14: calc(14 / 16 * 1rem);
  --spacing-10: calc(10 / 16 * 1rem);
  --spacing-8: calc(8 / 16 * 1rem);

  --c-main-text: var(--color-blue-800);
  --c-error-message: var(--color-red-400);
  --c-button-text: var(--color-white);
  --c-section-bg: var(--color-white);

  --ff-primary: var(--font-family-roboto);

  --fs-title: var(--font-size-40);
  --fs-main-text: var(--font-size-16);
  --fs-label: var(--font-size-12);
  --fs-error-message: var(--font-size-12);

  --fw-title: var(--font-weight-bold);
  --fw-main-text: var(--font-weight-regular);
  --fw-label: var(--font-weight-bold);
  --fw-error-message: var(--font-weight-bold);
  --fw-button-text: var(--font-weight-bold);

  --lh-main-text: var(--line-height-150pc);
  --lh-title-success: var(--line-height-100pc);

  --ls-error-message: var(--letter-spacing-1pc);

  --pdi-content: var(--spacing-24);
  --pdbe-content: var(--spacing-40);
  --pdis-input: var(--spacing-24);
  --pdb-input: var(--spacing-16);

  --mbe-title-default: var(--spacing-14);
  --mbs-list: var(--spacing-24);
  --mbs-listitem: var(--spacing-10);
  --mbs-form: var(--spacing-40);
  --mbs-button: var(--spacing-24);
  --mbe-title-success: var(--spacing-24);
  --mbe-success-logo: var(--spacing-40);

  --gap-row-section-default: var(--spacing-30);
  --gap-row-form-field: var(--spacing-8);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-main-text);
  font-weight: var(--fw-main-text);
  color: var(--c-main-text);
  line-height: var(--lh-main-text);
}

section {
  background-color: var(--c-section-bg);
}

.section-default {
  display: flex;
  flex-direction: column;
  row-gap: var(--gap-row-section-default);
}

.content,
.section-success {
  padding-inline: var(--pdi-content);
  padding-block-end: var(--pdbe-content);
}

.title {
  font-size: var(--fs-title);
  font-weight: var(--fw-title);
}

h1.title {
  margin-block-end: var(--mbe-title-default);
}

ul[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-block-start: var(--mbs-list);
}

ul[role="list"] li {
  display: flex;
  column-gap: var(--gap-column-list);
}

li + li {
  margin-block-start: var(--mbs-listitem);
}

form {
  margin-block-start: var(--mbs-form);
}

.form-field {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: var(--gap-row-form-field);
}

label[for="emailAddress"] {
  font-size: var(--fs-label);
  font-weight: var(--fw-label);
}

input[id="emailAddress"] {
  grid-column: 1 / -1;
  grid-row: 2;
  padding-inline-start: var(--pdis-input);
  padding-block: var(--pdb-input);
}

.field-error-msg {
  font-size: var(--fs-error-message);
  font-weight: var(--fw-error-message);
  letter-spacing: var(--ls-error-message);
  color: var(--c-error-message);
  text-align: end;
}

form button {
  margin-block-start: var(--mbs-button);
}

button {
  font-weight: var(--fw-button-text);
  color: var(--c-button-text);
}

.section-success {
  block-size: calc(842 / 16 * 1rem);
  display: flex;
  flex-direction: column;
}

.section-success::before {
  content: "";
  background-image: url(../assets/images/icon-success.svg);
  background-repeat: no-repeat;
  background-position: center;
  inline-size: calc(64 / 16 * 1rem);
  block-size: calc(64 / 16 * 1rem);
  margin-block-end: var(--mbe-success-logo);
  margin-block-start: auto;
}

h2.title {
  line-height: var(--lh-title-success);
  margin-block-end: var(--mbe-title-success);
}

.section-success button {
  margin-block-start: auto;
}
